.custom-nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 15px;
    color: rgb(56, 56, 56);

}

.custom-nav-tabs {
    border-bottom: none;
}

.custom-nav-tabs .nav-link.active,
.custom-nav-tabs .nav-item.show .nav-link {
    color: rgb(238, 99, 99);
    background-color: transparent;
    border-color: transparent
}

.custom-nav-tabs .nav-link:hover,
.custom-nav-tabs .nav-link:focus {
    border-color: transparent;
}

.offers-details a {
    font-size: 16px;
    color: #9891ff;
}

.offer-rating i {
    color: gold;
    font-size: 16px;
}

.offers-price s {
    color: red;
    font-size: 16px;
}

.offers-price span {
    font-size: 16px;
    color: #565555;
}

.count-down-timer {
    font-size: 13px;
    color: #565555;
}

.count-down-timer #demo span {
    background-color: #efefef;
    margin: 10px;
    width: 27px;
    height: 27px;
    /* display: inline-block; */
    border-radius: 100%;
    font-size: 14px;
}

.count-down-timer #demo #day,
.count-down-timer #demo #minutes,
.count-down-timer #demo #hours,
.count-down-timer #demo #seconds {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.offer-expaier-text {
    z-index: 1;
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

div.offer-expaier-text-inner {
    background-color: #e6aa3b;
    border-radius: 3px;
    padding: 2px;
    font-size: 17px;
}

#day,
#hours,
#minutes,
#seconds {
    position: relative;
}

#demo #day::after {
    content: "روز";
    position: absolute;
    top: 35px;
    right: 8px;
}

#demo #hours::after {
    content: "ساعت";
    position: absolute;
    top: 35px;

}

#demo #minutes::after {
    content: "دقیقه";
    position: absolute;
    top: 35px;

}

#demo #seconds::after {
    content: "ثانیه";
    position: absolute;
    top: 35px;

}

.offer-product-image img {
    width: 240px;
}

.offer-product-image {
    overflow-y: hidden;
    height: 240px;
}

.offer-product-image:hover .first-image,
.offer-product-image:hover .second-image {
    transform: translateY(-240px);
}

.offer-product-image .first-image,
.offer-product-image .second-image {
    transition: .5s ease;
}

/* .bear{
    display: block;
} */
@media screen and (max-width:995px) {
    .colah {
        margin-top: 260px;
    }
}

s {
    font-size: 12px !important;
}

@media screen and (max-width:995px) {
    .smartwatch {
        margin-top: 260px;
    }
}

@media screen and (max-width:995px) {
    .samsung {
        margin-top: 280px;
    }
}

.offer-section-title {
    right: 0;
    border-bottom: 2px solid red;
    padding-bottom: 3px;
    font-size: 20px;
    top: 6px;
}

@media screen and (max-width:600px) {
    .offer-section-title {
        font-size: 14px;
        border: 2px solid red;
        padding: 5px;
        top: 3px;
    }
}

@media screen and (max-width:384px) {
    .second-image {
        display: none;
    }

    .offer-product-image:hover .first-image,
    .offer-product-image:hover .second-image {
        transform: translate(0);
    }

    .offer-section-title {
        display: none;
    }
}