.bg-top-nav {
    background-color: #232f3e;
    /* color: #fff; */
}

.custom-top-nav,
.bg-top-nav p {
    font-size: 14px;
}

.custom-top-nav a {
    padding: 10px;
}

/* .bg-top-nav p{
    padding: 9px 0 0 0;
} */
.custom-top-nav .border-left {
    border-color: #4a4a4a !important;
}

.custom-btn-font-size {
    font-size: 14px !important;
}

.shop-card {
    background-color: transparent;
    /* margin-top: 24px;
    margin-right: -109px; */
}

.shop-card span {
    font-size: 16px;

}

.shop-card i {
    vertical-align: -2px;
}

.custom-dropdown-toggle::after {
    vertical-align: 0;
}

.basket a img {
    width: 50px;
    height: 50px;
}

.basket {
    width: 300px !important;
    /* margin-right: -30px; */
}

@media screen and (min-width:500px) {
    .basket {
        margin-right: -80px;
    }
}

@media screen and (max-width:904px) {
    .basket {
        margin-right: -150px;
    }
}

.basket a {
    font-size: 13px;
}

.search {
    width: 200px !important;
}

.custom-navbar-nav {
    font-size: 15px;
}

.custom-navbar-nav .nav-item {
    position: unset;
}

/* .custom-navbar {
    position: unset;
} */
.custom-navbar .nav-item .dropdown-menu {
    /* background-color: #232f3e; */
    top: 54px;
    border-radius: 0;
    border: none;
}

.dropdown-image img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.dropdown-image ul li a {
    color: #000 !important;
    font-size: 16px;
}

.dropdown-image ul li a i {
    vertical-align: -2px;
    padding-left: 3px;
}

.dropdown-image ul li a {
    transition: .5s ease;
}

.dropdown-image ul li a:hover {
    margin-right: 7px;
    color: rgb(56, 136, 235) !important;
}

.custom-navbar-toggler {
    border: none;
    stroke: #fff !important;
}

.input-top-nav-searche::-webkit-input-placeholder {
    font-size: 14px;
}
.input-top-nav-searche{
    box-shadow: 0 0 0 0!important;
    border-color: transparent!important;
}
/* .addres-site{
    height: 28px;
    overflow: hidden;
}
.addres-site:hover .addres1,
.addres-site:hover .addres2{
    transform: translateY(-28px);
}
.addres1,
.addres2{
    transition: .5s ease;
} */
@media screen and (max-width:384px) {
    .sabad {
        margin-right: -130px;
    }
}
.delete{
    display: none;
}
.btn-category,
.btn-search-category:focus {
box-shadow: 0 0 0 0!important;
}